*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    background: #000;
}
.container{
    width: 1000px;
    height: 500px;
    padding: 20px;
    text-align: center;
}
h1{
    padding: 20px 0px;
    color: #fff;
}
h1 span{
    font-size: 65px;
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(90deg, transparent,rgba(75, 17, 67, 0.418),transparent);
    margin-bottom: 10vh;
    flex-direction: column;
}
.inventory, .cartBox{
    width: 500px;
    text-align: left;
    background: rgba(238, 219, 219, 0.589);
    height: 100%;
    margin: 20px;
    padding: 10px;
    padding-left: 15px;
    font-size: 18px;
    text-transform: capitalize;
}
li{
    font-size: 16px;
    font-weight: 500;
    margin: 2px 0;
}
.inventory h1,.cartBox h1{
    padding: 5px 0;
    font-size: 18px;
}
.cartBox h2{
    padding-bottom: 20px;
}
.InputBox{    
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.input{
    position: relative;
}
input{
    height: 30px;
    border-radius: 30px;
    border: 1px solid #777;
    outline: none;
    padding-left: 10px;
    transition: .5s;
    background: none;
}
input:focus{
    border: 1px solid #ce2c98;
    transform: scale(1.1);
    margin-right: 10px;
}
button{
    padding: 5px 10px;
    background: #ce2c98;
    color: #fff;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 30px;    
    outline: none;
    cursor: pointer;
    margin: 0 5px;
    transition: .3s;
}
button:active{
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.5);
    transform: translateY(5px);
}
footer{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
@media screen and (max-width: 900px){
    .container{
        width: 100%;
        margin: 20px;
        height: 100%;
    }
}
@media screen and (max-width: 500px){
    .cart{
        padding: 10px;
    }
    .inventory,.cartBox{
        width: 100%;
    }
    input{
        margin: 5px 0;
    }
}
@media screen and (max-width: 400px){
    h2{
        font-size: 17px;
    }
}